/* default webpage margin and padding */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* defined variables */
:root{
  --bgColor: #FEFEFA;
  --heading: #F88379;
}

body{
  background: var(--bgColor);
}

h1, h2, h3, h4, h5{
  color: var(--heading);
}

