/* default webpage margin and padding */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* defined variables */
:root{
  --bgColor: #FEFEFA;
  --fontColor: #000000;
  --heading: #F88379;
  --fontFamily: "Roboto", sans-serif;
  --secBgColor: #000000;
  --secFontColor: #FEFEFA;
}

body{
  font-family: var(--fontFamily);
  background: var(--bgColor);
  position: relative;
  height: auto;
  width: 100%;
}

h1, h2, h3, h4, h5{
  color: var(--heading);
}

.container{
  max-width: 1000px;
  width: 100%;
  margin: 0px auto;
  height: auto;
}