/* Breakpoints
sm-mobile: 325px
md-mobile: 375px
lg: 425px;
tablets: 768px;
laptop: 1024px;

*/


@media only screen and (max-width: 425px) {
  .header .header__row{
    justify-content: center;
    flex-direction: column;
    gap: 10px 0px;
  }

  .hero__row{
    grid-template-columns: 1fr;
    text-align: center;
  }

  /* .hero__row__items img {
    max-width: 160px;
  } */

  .about__content, .exp__content{
    padding: 10px;
  }

  .skills .skills__row, .exp .exp__row{
    grid-template-columns: 1fr;
    padding: 10px;
  }
}